body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,86,1) 100%);;
}

.user{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 50px 55px;
    box-shadow:  0 0 20px rgb(0, 0, 0, 0.2); 
    border-radius: 20px;
    text-align: center;
    width: 330;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}