header {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,86,1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .section-contact {
    border: 10px solid #142850;
    border-radius: 20px;
    margin: 10px auto;
    padding: 200px;
    text-align: left;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }