header {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,86,1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .section-contact {
    padding-block: 200px;
    border: 10px solid #fc4656;
    border-radius: 20px;
    margin: 10px auto;
    padding-inline: 100px;
    text-align: left;
    height: 20px;
    max-width: 500px;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contenedor{
    display: inline-grid;
    margin-left: 300px;
    margin-top: 50px;
  }

#contacto1{
    grid-column-start: 1;
    grid-column-end: 2;
}

#contacto2{
    grid-column-start: 3;
    grid-column-end: 4;
}

#contacto3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#contacto4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav {
    padding: 10px;
    text-align: left;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
